@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-geist-sans: 'geist-sans', sans-serif;
    --font-geist-mono: 'geist-mono', sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: var(--background);
    color: var(--foreground);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

@layer utilities {
    .animate-enter {
        animation: enter 0.3s ease-out;
    }

    @keyframes enter {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
